body {
  background-color: #3d3d3d;
  color: #f9f9f9;
  font-family: "Futura", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  text-shadow: 3px 3px #000000;
}

.bot-card {
  background-color: #2f2f2f;
  color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #000000;
  margin-bottom: 20px;
  width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.bot-card:hover {
  cursor: pointer;
  background-color: #4f4f4f;
}

.bot-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bot-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bot-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.bot-enlist-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #00bfff;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bot-enlist-btn:hover {
  background-color: #1e90ff;
}

.bot-release-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #ff4500;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bot-release-btn:hover {
  background-color: #ff6347;
}

.bot-discharge-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #ff0000;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bot-discharge-btn:hover {
  background-color: #ff3333;
}

.bot-count {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bot-army-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
